header.dashborad-header{
    border: 1px solid #282928;
    position: fixed;
    top: 0;
}
/* sidebar */
.user-dashboard-side-wraper .content {
    padding: 130px 60px 100px 340px;
}
.dashborad-sidebar {
    max-width: 100%;
    width: 300px;
    position: fixed;
    left: 0;
    height: calc(100vh - 95px);
    bottom: 0;
    background: #101010;
}
.dashborad-sidebar .toggler-bars {
    position: absolute;
    right: -37px;
    color: #c220d6;
    background-color: white;
    height: 37px;
    width: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 20px;
    z-index: 111;
    top: 15px;
    cursor: pointer;
}

.dashboard-list .list-item {
    align-items: center;
    display: flex;
    margin: 20px 0;
    transition: all ease-in-out 0.3s;
}
.dashboard-list .list-item a {
    text-decoration: none;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0px;
    color: #949292;
    line-height: 27px;
    padding: 20px 20px;
    width: 100%;
}
.dashboard-list .list-item a > span {
    margin-right: 15px;
    width: 30px;
}
.dashboard-list .list-item:hover a,
li.list-item.active a {
    color: #000;
}
.dashboard-list li.list-item.active {
    border-left: 5px solid #32a337;
}
.dashboard-list li.list-item:hover,
.dashboard-list li.list-item.active {
    cursor: pointer;
    background: #FFCD1E;
    border-radius:0;
}
.dashboard-list .list-item:hover .hov-icon,
.dashboard-list li.list-item.active .hov-icon {
    display: block;
}
.dashboard-list .list-item:hover .simple-icon,
.dashboard-list li.list-item.active .simple-icon {
    display: none;
}
.simple-icon {
    display: block;
}
.dashboard-list .list-item a svg {
    margin-right: 20px;
}
.dashborad-sidebar .main-show {
    font-size: 16px;
    color: #535d84;
    font-weight: normal;
    margin-bottom: 20px;
    display: block;
}
.hov-icon {
    display: none;
}
.profile-picture img {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.profile-picture-style{
    margin-top: 30px;
}
.profile-picture {
    padding: 0 50px;
}
.personal-info .form-wraper{
    max-width: 100%;
    background-image: none;
    padding: 40px 0;
}
.personal-info .form-wraper .form-control{
    padding-left: 0;
    width: 60%;
}
label.lable-1 {
    width: 30%;
}
.fileupload-inner{
    cursor: pointer;
}
.fileupload 
    {width: 100%;
    height: 300px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #101010 0% 0% no-repeat padding-box;
    border-radius: 12px;
}
.fileupload input.upload {
    cursor: pointer;
    font-size: 20px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: -1px;
    top: -3px;
    padding: 5px;
    height: 152px;
    width: 297px;
}
/* my wallet */
.state-box {
    background: transparent;
    border: 2px solid #EAB600;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.wallet-states{
    margin: 30px 0;
}
.earning-details{
    margin: 30px 0;
}
.table thead tr th {
    font-size: 20px;
    line-height: 22px;
    color: #fff;
    font-weight: 500;
    padding: 15px;
    border: 0px;
    white-space: nowrap;
    text-transform: capitalize;
}
.table tbody tr td{
    font-size: 18px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    padding: 15px;
    white-space: nowrap;
    text-transform: capitalize;
    border-bottom: 1px solid   rgba(255, 255, 255, 0.5);
    vertical-align: middle;
}
.widtharal-details{
    margin-top: 50px;
}
/* chat page css */
.content.chat-content{
    height: 100vh;
} 
section.chat-card {
    position: relative;
    width: 100%;
    height: 100%;
}
section.chat-card #message-box {
    height: calc(100vh - 282px);
    overflow-y: auto;
}
section.chat-card .dash-common-card {
    border-radius: 10px 10px 0 0;
    height: 73vh;
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    overflow-y: auto;
    position: relative;
    padding: 40px;
    height: calc(100vh - 324px);
    background: #101010;
    border: 1px solid #282928;
}
.sending-detial {
    max-width: 50%;
    margin-left: auto;
}
.sending-msg {
    background: #FFCD1E;
    margin-left: auto;
    color: #000;
}
.receive-msg {
    background: #282928;
    margin-right: auto;
    color: #949292;
    
}
.receving-detail {
    max-width: 50%;
    margin-right: auto;
}
p.noticed-time {
    letter-spacing: 0px;
    color: #b1b1bf;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
.sending-detial {
    max-width: 50%;
    margin-left: auto;
}
.common-chat-text {
    font-size: 18px;
    line-height: 25px;
    padding: 14px 10px;
    border-radius: 15px 15px 15px 0;
}
.typinfg-area {
    padding: 30px 20px;
    position: sticky;
    background: #282928;
    /* position: absolute;
    bottom: -113px; */
    width: 100%;
}
.typinfg-area input.form-control {
    border-radius: 10px;
    background-color: #000;
    border: #282928;
    height: 51px;
    position: relative;
    width: calc(100% - 85px);
    color: #fff;
}
span.link-assets {
   margin-left: 20px;
}
button.btn.mike-btn {
    background: #fff;
    border-radius: 10px;
    width: 51px;
    height: 51px;
    margin-left: 16px;
    color: #51516e;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button.link-btn.btn {
    width: 41px;
    height: 41px;
    background: #18a758 0% 0% no-repeat padding-box;
    border-radius: 8px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon__menu__close {
    display: none;
    position: fixed;
    transition: all ease-in-out 0.3s;
}
.toggler-bars {
    position: fixed;
    width: fit-content;
    top: 84px;
    left: 0;
    color: #000;
    background-color: #FFCD1E;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 35px;
    z-index: 9;
    line-height: 35px !important;
	transition: all ease-in-out 0.3s;
}
.close-icon {
	font-size: 19px;
	position: absolute;
	right: -275px;
	color: #000;
	top: 85px;
	background: #FFCD1E;
	padding: 7px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all ease-in-out 0.3s;
}
button.icon__menu__open {
    display: none;
}
@media (max-width: 1600px) {
    .red-btn,.green-btn {
        padding: 4px 14px;
        font-size: 14px;
    }
    a.theme-simple-btn, button.theme-simple-btn, .green-btn, .red-btn {
        padding: 8px 24px;
        font-size: 16px;
    }
    .table thead tr th,.table tbody tr td{
        font-size: 16px;
        line-height: 20px;
        padding: 10px;
    }
}
@media (max-width: 1499px) {
    .user-dashboard-side-wraper .content {
        padding: 130px 60px 60px 300px;
    }
    .dashboard-list .list-item {
        margin: 0 0px 8px 0;
    }
    .dashboard-list .list-item a{
        padding: 12px 20px;
        font-size: 16px;
    }
    .dashborad-sidebar {
        width: 258px;
        height: calc(100vh - 84px);
    }
    .common-chat-text {
        font-size: 15px;
        line-height: 20px;
        padding: 10px 10px;
    }
    section.chat-card .dash-common-card{
        padding: 20px;
    }
    .dashboard-custom-container {
        padding: 0px 30px;
    }
    section.chat-card .dash-common-card {
        padding: 20px;
        height: calc(100vh - 276px)
    }
    .typinfg-area {
        padding: 15px 20px;
    }
   
}
@media (max-width: 1199px) {
    .typinfg-area {
        padding: 12px 10px;
    }
    section.chat-card .dash-common-card {
        height: calc(100vh - 265px);
    }
    label.lable-1 {
        font-size: 14px;
        width: 35%;
    }
    .fileupload{
        height: 200px;
    }
}
@media (max-width: 991px) {
    .dashborad-sidebar {
        transition: all ease-in-out 0.3s;
        transform: translateX(-275px);
        z-index: 9;
    }
    button.icon__menu__open {
        display: block;
    }
    .user-dashboard-side-wraper .content {
        padding: 130px 20px 20px 20px;
      }
      .dashborad-sidebar {
        width: 238px;
      }
      .user-dashboard-side-wraper p,
      .user-dashboard-side-wraper h1,
      .user-dashboard-side-wraper h2,
      .user-dashboard-side-wraper h3,
      .user-dashboard-side-wraper h4,
      .user-dashboard-side-wraper h5,
      .user-dashboard-side-wraper h6
      {
         text-align: left;
      }
      header.dashborad-header .header-buttons {
        margin-right: 0;
      }
      .receving-detail,.sending-detial {
        max-width: 80%;
    }
    
}
@media (max-width: 767px) {
    button.btn.mike-btn {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    button.link-btn.btn {
        width: 35px;
        height: 36px;
    }
    span.link-assets {
        margin-left: 10px;
    }
    .typinfg-area input.form-control{
        height: 40px;
    }
    .table thead tr th, .table tbody tr td {
        font-size: 14px;
        line-height: 18px;
        padding: 6px;
    }
    a.theme-simple-btn, button.theme-simple-btn, .green-btn, .red-btn {
        padding: 6px 20px;
        font-size: 14px;
    }
    .field-gap {
        margin-bottom: 0;
    }
    .personal-info label.lable-1{
        margin-bottom: 20px;
    }
    .fileupload {
        height: 200px;
        width: 60%;
        margin: 10px auto;
    }
    .profile-picture {
        padding: 0;
        margin: 10px auto;
    }
    .personal-info .form-wraper .form-control,.personal-info label.lable-1{
        width: 100%;
    }
    .personal-info label.lable-1{
        margin-bottom: 0;
    }
    .personal-info .form-wraper .form-control{
        margin-bottom: 15px;
        font-size: 14px;
    }
}
@media (max-width: 575px) {
    .toggler-bars,.close-icon{
        top: 72px;
    }
    .dashborad-sidebar {
        height: calc(100vh - 73px);
    }
    .receving-detail,.sending-detial {
        max-width: 100%;
    }
    .fileupload{
        height: 150px;
    }
    .dashboard-custom-container {
        padding: 0px 20px;
    }
}








